* {
    font-family: monospace;
}

body {
    color: #b3b3b3;
    background-color: #36454f;
    /* height: 100%; */
    margin: 0;
}

h3 {
    color: #00ffff;
}

a {
    color: #99badd;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul {
    list-style-type: square;
    margin: 0;
    overflow: hidden;
    width: 625px;
    background-color: inherit;
}

li {
    margin: 0 0 10px 0;
}

.document-title {
    color: #39ff14;
    font-size: 110%;
    font-weight: bold;
    padding: 0px 0 0 20px;
}

.sub-bullet {
    font-weight: bold;
    color: pink;
    display: inline-block;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; Set the navbar to fixed position
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
  }