* {
    font-family: monospace;
}

body {
    color: #b3b3b3;
    background-color: #36454f;
    /* height: 100%; */
    /* margin: 0; */
}

h3 {
    color: #ccff00;
}

a {
    color: #99badd;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul {
    list-style-type: square;
    margin: 0;
    overflow: hidden;
    width: 625px;
    background-color: inherit;
}

li {
    margin: 0 0 10px 0;
}

.document-title {
    color: #39ff14;
    font-size: 150%;
    font-weight: bold;
}

.sub-bullet {
    font-weight: bold;
    color: pink;
    display: inline-block;
}